html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 10px 14px;
  border-bottom: 1px solid #aaa;
}

.switches {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: start;
  text-transform: uppercase;
  gap: 4px;
  padding: 8px;
  border: 1px solid #1f1f1f;
  border-radius: 7.5px;
  user-select: none;
}

.file-select {
  border-bottom: 1px solid #aaa;
  user-select: none;
}

.file-select label {
  padding: 10px 14px;
  display: inline-block;
  background-color: #eee;
}

.file-select label:hover {
  background-color: #aaa;
}

#file-select {
  display: none;
}

#title {
  font-weight: bold;
}

.gridjs-wrapper {
  border-radius: none;
}

.gridjs-wrapper:nth-last-of-type(2) {
  border-radius: 0;
}

.grid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 39px - 58px);
  width: 100%;
}

#fileContents {
  /* width: 100%; */
  height: 100%;
}

.mainDiv {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#resizeContainer {
  width: 100%;
  background-color: #f0f0f075;
}