* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

:root {
  --caption: 10px;
  --body: 12px;
}

.dragger {
  display: flex;
  background: #222;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  user-select: none;
  -webkit-app-region: drag;
}

.dragger .title {
  color: #f1f1f1;
  font-size: var(--caption);
}

.dragger .inline-btns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3;
}

.dragger .round-btn {
  min-width: 12px;
  min-height: 12px;
  max-width: 12px;
  max-height: 12px;
  border-radius: 100%;
  margin-left: 6px;
  -webkit-app-region: no-drag;
}

.bg-red {
  background: #900;
}

.bg-red:hover {
  background: #a00;
}

.bg-green {
  background: #090;
}

.bg-green:hover {
  background: #0a0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  user-select: none;
}

header .file {
  border-radius: 0;
  padding: 6px 14px;
  border: none;
  font-size: var(--body);
}

header .file:hover {
  background-color: #ddd;
}

header .inline-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .inline-checkbox label span {
  margin-left: 6px;
  font-size: var(--body);
}

header .inline-checkbox label {
  border-radius: 0;
  padding: 6px 14px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
}

header .inline-checkbox label:hover {
  background-color: #ddd;
}

main {
  position: relative;
  width: 100%;
  height: calc(100vh - 22px - 25.6px);
  background: #f1f1f1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

main #file-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-row {
  width: 100% !important;
  height: 7mm;
  overflow: hidden;
}

.grid-column {
  display: inline-block;
  overflow: hidden;
  height:7mm;
  width: 27.3mm;
  border: 1px solid #ddd;
  font-size: 18px;
}
